.card-new{
    box-shadow: var(--mainGrey);
    transition: var(--mainTransition);
    position: relative;
    height: 100%;
   
}
.new-container{
    position: relative;
    transition: all .3s linear;
    overflow: hidden;
    height: 300px;
}
.new-container img{ 
    width:100%;
    display: block;
    transition: var(--mainTransition);
    // background: center/cover no-repeat;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  
}
.new-container:hover{
   // background: rgba(0, 0, 0, 0.8);
   
}
.new-container:hover img{
    transform: scale(1.1);
   
}